/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}
ul{
    list-style: none;
}
h3 {
    /* padding-top: 20px; */
    /* padding-left: 10px;  */
    /* font-size: 32px;  */
    /* padding: 1rem 0; */
    font-family:system-ui, -apple-system;
    font-weight: 700;
    /* padding-bottom: 30px; */
}

/* p{
    padding-left: 20px;
} */

/* Menu de nagegação */
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    background-color: #f8f9fa;
    /* height: 120px; */
    font-family: Arial, Helvetica, sans-serif;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; 
    background: linear-gradient(to right, #008d2a 10%, #ff2727 40%, #dadd20 100%);
}

/* .titulo{
    margin-bottom: 30px;
    margin-left: 70px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} */

.navbar li {
    margin: 2px 60px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.navbar a:hover {
    color: #00800b;
}

/* .dropdown-menu{
    width: 320px;
} */

/* .dropdown-item {
    text-align: left; 
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    padding: 0;
} */

main{
    margin-top: 130px; 
}
/* Banner - classe destaque */
.destaque-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; 
    height: 400px;
}

.destaque-texto {
    flex: 1;
    padding-right: 20px; /* Distância entre o texto e a imagem */
    margin-left: 90px;
    margin-bottom: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.destaque-texto .titulo-destaque {
    font-size: 60px;
    color: #0E5F4F;
}

.destaque-texto .descricao-destaque {
    font-size: 28px;
    margin-left: none;
    font-weight: 400;
    margin-top: 15px;
    color: #333;
}

.linha-personalizada {
    width: 300px; 
    height: 2px; 
    background-color: #8f8f8f; 
    margin-top: 20px; 
}

.destaque-imagem img {
    max-width: 100%; 
    height: 350px; 
    width: 600px;
    border-radius: 20px;
    margin-right: 80px;
}

/* Classe contagem */
.contagem {
    background-color: #0E5F4F;
    display: flex;
    justify-content: space-between;
    height: 160px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 7px;
    margin-bottom: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.438);
    
}

.contagem div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; 
}

.contagem h1 {
    margin: 0;
    font-size: 52px;
    font-weight:bolder;
    color: white;
}

.contagem p {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.t3 p{
    margin-left: 19px;
}

.t2 p{
    margin-left: 10px;
}

/* Texto Informativo */
.informacao{
    height: 160px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 80px;
}

.informacao h1{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.informacao p{
    text-align: center;
    font-size: 20px;
}

/* Estilo dos cartões */

.containerCards {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: 90px;
}

.card-content {
    flex-grow: 1; 
    padding-bottom: 40px; 
    position: relative; 
}

/* .containerCards p{
    margin-top: -20px;
    margin-right: 10px;
} */

.containerCards h3 {
    margin-top: 60px;
    /* margin-left: 20px; */
    font-size: 24px;
}

.box {
    /* flex: 1 1 calc(33.33% - 20px); */
    background-color: #f1f1f1;
    padding: 1rem;
    margin: 10px;
    /* max-width: 500px; */
    width: 380px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgb(179, 179, 179);
    flex-direction: column;
    /* scrollbar-width:thin; */
    
}
.box p{
    overflow-y: auto;
    height: 80px;
}
/* Ocultar a barra de rolagem */
.box p::-webkit-scrollbar{
    background-color: transparent;
}

.box-verde .square {
    background-color: #008d2a; /* Cor verde */
}

.box-vermelho .square {
    background-color: #F50D0D; /* Cor vermelha */
}

.box-amarelo .square {
    background-color: #FFC520; /* Cor amarela */
}

.ver-mais {
    position: absolute; 
    right: 0px; 
    border: none;
    padding: 5px 20px;
    background-color: transparent;
    color: #272727;
    font-weight: bold; 
}

.square {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    position: absolute; 
    left: 10px; 
    /* margin-left: 20px; */
    /* margin-top: 10px; */
}

.divisao {
    border-top: 2px dotted #0E5F4F; 
    margin-top: 10px; 
    margin-bottom: 10px;
    height: 30px;
}

/* Voluntários */
.voluntarios{
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    height: 300px;
}

.voluntarios h4{
    border: 1px solid #0E5F4F;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #0E5F4F;
}

.voluntarios h1{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #694747;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 10px;
    color: #333;
    font-size: 20px;
}

/* Breakpoint para dispositivos médios */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbar li {
        /* display: none; Esconde os itens do menu padrão */
    } 
    
    .menu-icon {
        /* display: block; Exibe o ícone do menu */
    }
    /* .box { */
        /* flex-basis: calc(50% - 20px); Em telas menores que 768px, altera a largura para cerca de 1/2 do contêiner */
    /* } */
    /* .navbar li {
        display: block; /* Exibe os itens do menu padrão */
    /* } */ */
    .destaque-container {
        flex-direction: column;
        align-items: center;
    }
    .destaque-texto {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
   
    .destaque-imagem img {
        /* width: auto; */
        width: 100%;
        height: auto;
        border-radius: 0%;
    }
    .destaque-texto .titulo-destaque {
        font-size: 36px;
    }
    .informacao{
        margin: 5% ;
    }

    .contagem{
        margin: 0 5%;
        height: auto;
        margin-top: 260px;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
    }

    /* .dropdown-menu{
        width: 200px;
    } */

}


/* @media screen and (min-width: 769px) { */
    /* .navbar li { */
        /* display: block; Exibe os itens do menu padrão */
    /* } */
/* } */

/* Breakpoint para dispositivos pequenos */
@media screen and (max-width: 548px) {
    body{
        font-size: 90%;
    }
    .box {
        /* flex-basis: calc(100% - 20px); Em telas menores que 500px, altera a largura para ocupar todo o contêiner */
        width: 95%;
    }
    .containerCards{
        margin-top: 220px;
    }
    footer{
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
    }
}

/* Breakpoint para ajuste do footer abaixo de 470px */
@media screen and (max-width: 470px) {
    footer{
        margin-top: 250px;
        flex-direction: column;
        align-items: center;
    }

}

